{% extends "base.html" %}

{% block head %}
<link rel="icon" href="{{ url_for('static', filename='images/icons/search.png') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">    
{% endblock %}

{% block main %}
<main>
    {% if lt|length == 0 %}
        <div class="alert alert-danger" role="alert">{{no_ans}}</div>
    {% endif %}
    {% for i in flights_info %}
        <div>
        <form action="/save_ticket" method="post">
        <h2>Место отправки <input type='text' name="airport_departure" readonly value="{{i['airport_departure']}}"></h2>
        <h2>Место прибытия <input type='text' name="airport_arrival" readonly value="{{i['airport_arrival']}}"></h2>
        Время отправления: <input type='text' name="flight_date" readonly value="{{i['flight_date']}}">
        Время прибытия: <input type='text' name="flight_date_arrival" readonly value="{{i['flight_date_arrival']}}">
        <h3>Дополнительная информация:</h3>
        Название авиакомпании: <input type='text' name="airline_name" readonly value="{{i['airline_name']}}">
        Номер полёта: <input type='text' name="flight_number" readonly value="{{i['flight_number']}}">
        {% if current_user.is_authenticated %}
                <button type="submit">Сохранить этот билет</button>
        {% else %}
            <a class="btn btn-primary" href=/login>Войдите для добавления в избранное</a>
        {% endif %}
        </form>
        </div>
    {% endfor %}
</main>
{% endblock %}
