.search-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.search-card {
    flex: 1;
    padding: 2.5rem;
    background: rgba(232, 239, 255, 0.3);
    border: 2px solid #000000;
    border-radius: 15px;
}

.tail {
    font-size: 2.5rem;
    bottom: 2rem;
    left: 55%;
    transform: translateX(-50%);
}

.where-ticket-departure {
    position: absolute;
    left: 6%;
    transform: translateX(-50%);
    top: 0.1rem;
}

.where-ticket-arrive {
    position: absolute;
    left: 55.5%;
    transform: translateX(-50%);
    top: 0.2rem;
}

.strela {
    position: absolute;
    left: 31%;
    transform: translateX(-50%);
    top: 0.2rem;
}

.time {
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    top: 0.1rem;


    white-space: nowrap;
    font-size: 1rem;
    color: #555;
}

.nonStop {
    top: 2.5rem;
}

.time-time {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -.5rem;
    color: #3e3e3e;
}

.date-time {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3.2rem;
    color: #2d2d2d;
}

.aviacompany {
    position: relative;
    width: 23.5rem;
    height: 5rem;
    top: .5rem;
    border: 2px solid #000000;
    left: -1rem;
}

.company-logo {
    position: relative;
    width: 40%;
    height: auto;
    left: 1rem;
}

.company-name {
    position: absolute;
    font-size: 1.5rem;
    width: 12rem;
    left: 10.8rem;
    top: 50%;
    transform: translateY(-50%);
}

.for-one {
    position: absolute;
    white-space: nowrap;
    font-size: 1rem;
    color: #555;
    top: 1rem;
    left: -1.3rem;
}

.lines {
    position: relative;
}

.line-vertical {
    position: absolute;
    border-left: 2px dotted #000;
    height: 100%;
    left: 50rem;
}

.line-gorizontal {  
    position: absolute;
    border-bottom: 2px dotted #000;
    left: 25rem;
    width:50rem;
    top: 5.8rem;
}

.price {
    position: absolute;
    font-size: 2.2rem;
    white-space: nowrap;
    left: 84%;
    transform: translateX(-50%);
}

.place {
    position: absolute;
    font-size: 1.5rem;
    white-space: nowrap;
    left: 84%;
    transform: translateX(-50%);
    top: 3rem
}

.travelClass {
    position: absolute;
    font-size: 1.5rem;
    white-space: nowrap;
    left: 84%;
    transform: translateX(-50%);
    top: 5rem
}

.baggage {
    position: absolute;
    top: 4rem;
    left: 115%;
    transform: translateX(-50%);
}

.includedCheckedBags {
    position: absolute;
    font-size: 2rem;
    white-space: nowrap;
    bottom: .8rem
}

.includedCabinBags {
    position: absolute;
    font-size: 2rem;
    white-space: nowrap;
    top: -1.7rem;
}

.transits {
    display: none;
    position: relative;

    background-color: #f9f9f9;
    border: 2px solid #000000;
    top: 6rem;
    left: -4.2rem;
    width: 48rem;
}

.show {
    display: inline-block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.one-transit {
    position: relative;
    display: block;
    padding: 2.6rem;
    top: .2rem;
}

.transit-departure {
    position: absolute;

    left: 18%;
    transform: translateX(-50%);

    font-size: 2rem;
    white-space: nowrap;
}

.transit-arrive {
    position: absolute;

    left: 82%;
    transform: translateX(-50%);
    top: 0.2rem;

    font-size: 2rem;
    white-space: nowrap;
}

.transit-strela {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    top: 0.2rem;

    font-size: 2rem;
    white-space: nowrap;
}

.transit-button {
    top: 2.7rem;
}

.date-time-transit {
    top: 2.8rem;
}

.return-where {
    top: -.8rem;
}

.return-line {
    top: 10.7rem;
}

.save {
    position: absolute;
    font-size: 1.5rem;
    white-space: nowrap;
    left: 84%;
    transform: translateX(-50%);
    top: 9rem
}